<%- include("partials/header.ejs") %>

<h1>Solution for Everything</h1>

<ul class="services">
    <li>Customer Care </li>
    <li>Finances</li>
    <li>Returns</li>
    <li>Eduction</li>
    <li>HealthCare</li>
    <li>Marketing</li>
    <li>Services</li>
    <li>Sales</li>
</ul>


<%- include("partials/footer.ejs")%>