<%- include("partials/header.ejs") %>

<h1>Our Team</h1>
<h3>Everyone loves thier jobs and are best in the class</h3>

<ul class="team">
    <li><img src="https://images.pexels.com/photos/18041953/pexels-photo-18041953/free-photo-of-woman-in-seductive-pose-looking-at-camera.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""> <br> Angela <br> Data Analyst</li>
    <li><img src="https://images.pexels.com/photos/15235470/pexels-photo-15235470/free-photo-of-close-up-shot-of-a-blonde-man.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""> <br> Gruuu <br> Finance Expert</li>
    <li><img src="https://images.pexels.com/photos/29731546/pexels-photo-29731546/free-photo-of-portrait-of-young-adult-in-vintage-glasses.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""><br>Mrs Hooo <br>Sales Expert</li>
</ul>

<%- include("partials/footer.ejs")%>